yancees/xsd/event.xsd.old

<!--
  The 'xsd' namespace is the "schema of schemas" as defined by the XSchema
  standard.  The 'xlink' namespace defines the namespace for XLink attributes
  and elements.  The targetNamespace defines the URI of the namespace
  which THIS XSchema is defining.  Other XSchemas should use this URL
  when referring to things defined in this XSchema.
 -->
<xsd:schema xmlns="http://awareness.ics.uci.edu/~rsilvafi/yancees/xsd/event.xsd"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://awareness.ics.uci.edu/~rsilvafi/yancees/xsd/event.xsd"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">


<!--
xmlns="http://awareness.ics.uci.edu/~rsilafi/yancess/event.xsd"
targetNamespace="http://awareness.ics.uci.edu/~rsilvafi/yancess/event.xsd"
 -->

 <xsd:annotation>
    <xsd:documentation>
       This XML Schema file defines the basic event structure that must be
       specialized by specific event implementations.

    </xsd:documentation>
  </xsd:annotation>

  <!--
    ELEMENT: event

    This tag is the root element in an event file, the topmost element that
    defines the event structure.
   -->
  <xsd:element name="event" type="EventType"/>

  <!--
    TYPE: Event

    The Event type defines the basic event structure with its header, where
    meta-information and annotations can be added, and the body, where the
    sequence of attribute/value pairs are defined.

   -->
  <xsd:complexType name="EventType">
     <xsd:sequence>
        <xsd:element name="header" type="HeaderType"
                  minOccurs="0" maxOccurs="1"/>
        <xsd:element name="body" type="BodyType"
                  minOccurs="0" maxOccurs="1"/>
     </xsd:sequence>
</xsd:complexType>

  <!--
    TYPE: HeaderType

    The Event type defines the abstract event structure to be extended.

   -->
  <xsd:complexType name="HeaderType" abstract="true"/>

   <!--
    TYPE: BodyType

    The Event type defines the abstract event body to be extended.

   -->
   <xsd:complexType name="BodyType" abstract="true"/>


</xsd:schema>
